<div class="mx-auto" style="width: 240px;">
    <h3>Listed Promotions</h3>
</div>


<% flash.each do |type, msg| %>
    <%= msg %>
<% end %>

<p><%= link_to "Voltar", root_path %></p>
<p><%= link_to "Registrar uma promoção", new_promotion_path %></p>

<% @promotions.each do |promotion| %>
    <div class="card bg-light mx-5 my-3">
        <div class="card-header">
          <%= "Expiration Date => #{promotion.expiration_date}" %>
        </div>
        <div class="card-body">
          <h5 class="card-title">Description</h5>
          <p class="card-text"><%= promotion.description %></p>
          <h5 class="card-title">Discount rate</h5>
          <p class="card-text"><%= number_to_percentage(promotion.discount_rate, precision: 2, separator: ',') %></p>
          <%= link_to promotion.name, promotion , class: "btn btn-primary" %>
        </div>
    </div>
<% end %>
