<h2><%= link_to "Voltar", promotions_path %></h2>

<h1><%= "Details of promotions #{@promotion.name}" %></h1>

<dl>
    <dt>Descrição</dt>
    <dd><%= @promotion.description %></dd>
    <dt>Código</dt>
    <dd><%= @promotion.code %></dd>
    <dt>Porcentagem de desconto</dt>
    <dd><%= number_to_percentage(@promotion.discount_rate, precision: 2, separator: ',') %></dd>
    <dt>Quantidade de cupom</dt>
    <dd><%= @promotion.coupon_quantity %></dd>
    <dt>Data de expiração</dt>
    <dd><%= I18n.localize @promotion.expiration_date %></dd>
</dl>

<div>
    <p><%= link_to "Editar", edit_promotion_path(@promotion) %></p>
    <p><%= link_to "Apagar", promotion_path(@promotion),
                             method: :delete,
                             data: { confirm: "Tem certeza?"} %></p>
</div>

<div>
    <p><%= link_to "Gerar Cupons" , generate_coupons_promotion_path(@promotion), method: :post %></p>
</div>

<% if flash[:notice] %>
    <div>
        <%= flash[:notice] %>
    </div>
<% end %>

<% @promotion.coupons.each do |coupon| %>
  <%= coupon.code %>
<% end %>

